@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&display=swap&subset=latin-ext');


body {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.decoration {
  align-self: center;
  width: max-content;
  height: max-content;
}